# Build output
dist/

# Test artifacts
test-flows/
flows/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store

# Logs
*.log

# Node
node_modules/

# Environment
.env
.env.local
maestro/maestro.zip

flows
maestro
tmp